* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #94d9ea;
}

.main-content {
  min-height: 100vh;
  width: 80%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: #00324a;
}

.right-section {
  background-color: #f7f7f7;
  height: 100%;
  grid-column: span 5;
}

.left-content {
  padding: 1rem 3rem;
}

.profile {
  width: 100%;
  border-bottom: 1px solid #002333;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  border: 8px solid #002333;
  object-fit: cover;
  padding: 1.2rem 0;
}

.name {
  font-size: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.career {
  font-size: 1.2rem;
  color: #94d9ea;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.main-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f7f7f7ec;
  padding-top: 3rem;
}

.contact-info ul {
  padding-top: 2rem;
}

.contact-info ul li {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  color: #718096;
}

.contact-info ul li i {
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #2d9cdb;
}

.skills-section ul {
  padding-top: 2rem;
}

.skills-section ul li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.4rem 0;
}

.progress-bar {
  width: 100%;
  height: 0.4rem;
  background-color: #2d3748;
  position: relative;
  border-radius: 12px;
}

.progress {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #2d9cdb;
  border-radius: 12px;
}

.js-progress {
  width: 70%;
}

.cpp-progress {
  width: 70%;
}
.skill-title {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1rem;
}
