* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #94d9ea;
}

.main-content {
  min-height: 100vh;
  width: 80%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.left-section {
  grid-column: span 2;
  height: 100%;
  background-color: #00324a;
}

.right-section {
  background-color: #f7f7f7;
  height: 100%;
  grid-column: span 5;
}
