* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #94d9ea;
}

.box {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.main-content {
  min-height: 100vh;
  width: 80%;
  margin: 4rem auto;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
